<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand " ><img src="./assets/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg" width="150" height="39" alt=""></a>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 ms-auto mb-lg-0 activeL ">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="activeL" routerLink='register'>Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="activeL" routerLink='login'>Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
