<section class="py-3 col-8 mx-auto">
  <h2 class="activeL display-3">Login </h2>
  <form class="col-10 mx-auto my-3" [formGroup]="loginForm" (ngSubmit)="sendForm(loginForm)">
    <div class="form-floating my-4">
      <input type="email" placeholder=" " class="form-control" formControlName="email" [ngClass]="{
        'is-valid': !loginForm.get('email')?.errors && loginForm.get('email')?.dirty,
        'is-invalid': loginForm.get('email')?.errors && loginForm.get('email')?.dirty
      }">
      <label  class="activeL">Email </label>
      <ul class="list-unstyled alert alert-danger p-2 invalid-feedback">
        <li *ngIf="loginForm.get('email')?.getError('required')">Email is required</li>
        <li *ngIf="loginForm.get('email')?.getError('email')">Must be email format</li>
      </ul>
    </div>

    <div class="form-floating my-4">
      <input type="password" placeholder=" " class="form-control" formControlName="password" [ngClass]="{
        'is-valid': !loginForm.get('password')?.errors && loginForm.get('password')?.dirty,
        'is-invalid': loginForm.get('password')?.errors && loginForm.get('password')?.dirty
      }">
      <label  class="activeL">Password </label>
      <ul class="list-unstyled alert alert-danger p-2 invalid-feedback">
        <li *ngIf="loginForm.get('password')?.getError('required')">Password is required</li>
      </ul>
    </div>
    <button [disabled]="loginForm.invalid" class="btn w-100 bg-btn text-white">Login</button>
  </form>
</section>
